


<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-gray-50 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
  <div class="absolute inset-0">
    <div class="bg-white h-1/3 sm:h-2/3"></div>
  </div>
  <div class="relative max-w-7xl mx-auto">
    
    <div class="mt-12 max-w-2xl mx-auto grid gap-5">
      {% for post in postslist %}
      <!-- article one -->
      <article class="flex flex-col rounded-lg shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
          <div class="h-60">
            {% image post.data.featuredImage, post.data.title, "(min-width: 760px) 50vw, (min-width: 1024px) 30vw, 100vw" %}
          </div>
          
  
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <p class="text-sm font-medium text-indigo-600">
              {% for tag in post.data.tags %}
              {% if tag !== 'posts' %}
              {% set tagUrl = "/tags/" + tag + "/" %}
              <a class="no-underline hover:underline font-sans text-lg text-cyan-700" href="{{ tagUrl | url }}">{{ tag }}</a>
              {% endif %}
              {% endfor %}
            </p>
            <a href="#" class="block mt-2">
              <p class="text-xl font-semibold text-gray-900">
                {{post.data.title }}
              </p>
              
            </a>
            {% if post.data.expand %}
            <div class="mt-6 prose prose-xl max-w-none">
              {{ post.templateContent | safe }}
            </div>
            {% endif %}
          </div>
          <div class="mt-6 flex items-center">
            <div class="flex-shrink-0">
              <a href="#">
                <span class="sr-only">Roel Aufderehar</span>
                <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              </a>
            </div>
            <div class="ml-3">
              <p class="text-sm font-medium text-gray-900">
                <a href="#" class="hover:underline">
                  {{metadata.author.name}}
                </a>
              </p>
              <div class="flex space-x-1 text-sm text-gray-500">
                <time datetime="{{ post.data.page.date | htmlDateString }}">
                  {{ post.data.page.date | fromNow }}
                </time>
                <span aria-hidden="true">
                  &middot;
                </span>
                <span>
                  6 min read
                </span>
              </div>
            </div>
          </div>
        </div>
      </article>
      {% endfor %}

      
    </div>
  </div>
</div>
